@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appear2 {
  from {
    opacity: 0;
    transform: translateX(200px) scale(0.5) rotate(10deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1) rotate(0);
  }
}

.block {
  animation: appear linear both;
  animation-timeline: view();
  animation-range: entry 0 cover 35%;
}

.block2 {
  animation: appear2 linear;
  animation-timeline: view();
  animation-range: entry 0 cover 35%;
}

@keyframes slidel {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideu {
  from {
    opacity: 0;
    transform: translateY(400px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.blockl {
  animation: slidel linear;
  animation-timeline: view();
  animation-range: entry 0 cover 35%;
}

.blocku {
  animation: slideu linear;
  animation-timeline: view();
  animation-range: entry 0 cover 35%;
}

.blockrr {
  animation: slideright linear;
  animation-timeline: view();
  animation-range: entry 0 cover 35%;
}

@keyframes scaler {
  from {
    opacity: 0;
    scale: 0.5;
  }
  top {
    opacity: 1;
    scale: 1;
  }
}

@keyframes scalel {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleu {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scalerr {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.blocks {
  animation: scaler linear;
  animation-timeline: view();
  animation-range: entry 0 cover 35%;
}

.blocksl {
  animation: scalel linear;
  animation-timeline: view();
  animation-range: entry 0 cover 35%;
}
.blocksu {
  animation: scaleu linear;
  animation-timeline: view();
  animation-range: entry 0 cover 35%;
}
.blocksr {
  animation: scalerr linear;
  animation-timeline: view();
  animation-range: entry 0 cover 35%;
}
