.about {
  width: 100%;
  height: 160vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(25, 20, 59, 0.7);
}

.about h2 {
  margin-top: 7rem;
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  /* border: 2px solid rgb(0, 0, 0); */
}

.about h1 {
  font-size: 60px;
  font-weight: 600;
  color: rgb(236, 236, 236);
  margin-top: -0.5rem;
  /* border: 2px solid rgb(0, 0, 0); */
}

.aboutx {
  margin-top: 5rem;
  width: 85%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 1000px) {
  .aboutx {
    flex-direction: column;
  }
  .aboutinfox {
    flex-direction: column;
    gap: 20px;
  }
  .aboutimgx1 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .experience,
  .education {
    min-width: 350px !important;
    max-height: 200px !important;
  }

  .aboutinfox2 {
    margin-top: 20px !important;
    width: fit-content !important;
    font-size: 20px !important;
  }

  .experience h3,
  .education h3 {
    font-size: small;
  }
  .experience h2,
  .education h2 {
    font-size: smaller;
  }
  .experience p,
  .education p {
    font-size: smaller;
  }
}

.aboutimg2 {
  width: 300px;
  height: 300px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%;
  box-shadow: rgba(247, 247, 247, 0.5) 0px 0px 15px;
  /* border: 2px solid rgb(0, 0, 0); */
}

.aboutinfo {
  margin-top: -2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutinfox {
  margin-top: 5rem;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.aboutinfox div {
  width: 42%;
  min-width: 250px;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(242, 238, 238, 0.2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.aboutinfox2 {
  margin-top: -2rem;
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
}

.experience h3,
.education h3 {
  margin-top: -1.5rem;
  font-size: 30px;
  color: rgb(240, 240, 240);
  /* border: 2px solid rgb(0, 0, 0); */
}
.experience h2,
.education h2 {
  font-size: larger;
  border: 2px solid rgb(240, 240, 240);
}

.experience p,
.education p {
  font-size: 20px;
  color: rgb(230, 230, 230);
  margin-top: -1.5rem;
  text-align: center;
  /* border: 2px solid rgb(0, 0, 0); */
}

@keyframes wave {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

.aboutimgx1 {
  width: 600px;
  height: 600px;
  background-image: url("C:\Users\kosul\Desktop\Advanced Kosul Portfolio\Kosul\src\assets\img\rb.png");
  background-size: cover;
  background-position: left;
  /* animation: wave 1s infinite ease-in-out; */
}
