.projects {
  width: 100%;
  height: 1500svh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(15, 15, 15, 0.7);
}

.projects h2 {
  margin-top: 7rem;
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  /* border: 2px solid rgb(0, 0, 0); */
}

.projects h1 {
  font-size: 60px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-top: -0.5rem;
  /* border: 2px solid rgb(0, 0, 0); */
}

.projecty {
  width: 100%;
  height: 900svh;
  /* border: 2px solid red; */
}

.parentzoomout {
  margin-top: -20rem;
  position: sticky;
  top: 0px;
  overflow: hidden;
}
.parentzoom {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.childz1 {
  position: absolute;
  top: 180px;
  left: 180px;
  width: 350px;
  height: 225px;
  overflow: hidden;
  border-radius: 8px;
  background-image: url("assets\img\chess.png");
  background-size: cover;
  background-position: center;
}

.childz2 {
  position: absolute;
  top: 0px;
  left: 600px;
  width: 400px;
  height: 250px;
  overflow: hidden;
  border-radius: 8px;
  background-image: url("assets\img\jakarta.jpg");
  background-size: cover;
  background-position: center;
}
.childz3 {
  position: absolute;
  top: 300px;
  right: 200px;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  background-image: url("assets\img\fitness.png");
  background-size: cover;
  background-position: center;
}
.childz4 {
  position: absolute;
  top: 500px;
  left: 250px;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  background-image: url("assets\img\ecomerce.png");
  background-size: cover;
  background-position: center;
}
.childz5 {
  width: 400px;
  height: 200px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.mainprojectimg {
  width: 60%;
  height: 70%;
  border-radius: 4px;
  background-image: url("assets\img\nutritrack.png");
  background-size: cover;
  background-position: center;
}

.mainprojectdesc {
  position: sticky;
  opacity: 1;
  z-index: 5;
  top: 20%;
  left: 75%;
  width: 300px;
  height: 500px;
  background-color: rgba(182, 167, 167, 0.9);
  border-radius: 12px;
  opacity: 0;
  scale: 0.2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.childz6 {
  position: absolute;
  top: 550px;
  left: 600px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  background-image: url("assets\img\image.jpg");
  background-size: cover;
  background-position: center;
}
.childz7 {
  position: absolute;
  top: 550px;
  right: 265px;
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
  background-image: url("assets\img\tower.png");
  background-size: cover;
  background-position: center;
}

.ptrig1 {
  position: relative;
  top: 1200px;
  width: 10px;
  height: 10px;
  z-index: 10;
}

.ptrig2 {
  position: relative;
  top: 3000px;
  width: 10px;
  height: 10px;
  z-index: 10;
}
.ptrig3 {
  position: relative;
  top: 5000px;
  width: 10px;
  height: 10px;
  z-index: 10;
}

.projectsx {
  width: 100%;
  height: 500svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8rem;
}

.kosulp {
  width: 100%;
  height: 70svh;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
}

.kosulp101 {
  width: 66%;
  height: 70svh;
  border-radius: 14px;
}

.kprojectdesc {
  width: 20%;
  height: 90%;
  background-color: rgba(212, 43, 43, 0.4);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kprojectdesc p {
  font-size: 20px;
}

.project2 {
  background-image: url("assets\img\ecomerce.png");
  background-size: cover;
  background-position: center;
}

.project3 {
  background-image: url("img\fitness.png");
  background-size: cover;
  background-position: top;
}

.project4 {
  background-image: url("assets\img\jakarta.jpg");
  background-size: cover;
  background-position: center;
}

.kosulpgames {
  width: 100%;
  height: 250svh;
}
.topdiv {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: column;
}
.topdiv h1 {
  margin-top: 1rem;
  width: 600px;
  height: 100px;
  text-align: center;
  font-size: 80px;
}
.topdiv h2 {
  margin-top: 1rem;
  font-size: 40px;
  height: 80px;
  width: 300px;
  text-align: center;
}

.middiv {
  width: 100%;
  height: 220svh;
}

.chess,
.tower,
.dice {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.tower {
  margin-top: 10rem;
}
.dice {
  margin-top: 10rem;
}

.chess .imgxp {
  width: 70%;
  height: 100%;
  background-image: url("assets\img\chess.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-right: 1rem;
}

.chess .imgxpd {
  width: 20%;
  height: 40%;
  background-color: antiquewhite;
  margin-left: 7rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(242, 238, 238, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgxpd p {
  font-size: 30px;
}

.tower .imgxp {
  width: 70%;
  height: 90%;
  background-image: url("assets\img\tower.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-left: 1rem;
}

.tower .imgxpd {
  width: 20%;
  height: 40%;
  background-color: antiquewhite;
  margin-right: 7rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(242, 238, 238, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dice .imgxp {
  width: 70%;
  height: 90%;
  background-image: url("assets\img\dice.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-right: 1rem;
}

.dice .imgxpd {
  width: 20%;
  height: 40%;
  background-color: antiquewhite;
  margin-left: 7rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(242, 238, 238, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .projectsx {
    display: none;
  }
  .projecty {
    display: none;
  }
  .projects {
    height: 200svh;
  }
}

@media (min-width: 1920px) and (min-height: 1080px) {
  .mainprojectdesc {
    top: 28% !important;
  }
  .childz5 {
    width: 25%;
    height: 20%;
  }
  .childz1 {
    left: 20%;
    top: 25%;
  }
  .childz2 {
    top: 15%;
    left: 40%;
  }

  .childz3 {
    top: 25%;
    right: 20%;
  }
  .childz4 {
    top: 55%;
    left: 25%;
  }
  .childz6 {
    top: 60%;
    left: 50%;
  }
  .childz7 {
    top: 50%;
    right: 20%;
  }
}
